template(name='admin')
    .ui.stackable.padded.grid
        .sixteen.wide.column
            .ui.header 
                +i name='shield'
                |admin
        each admin_users 
            +user_card
        +trips
        .ui.divider
        +users